{% extends 'stream/base.html'%}
{% load static %}
{% block content%}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/styleTest.css' %}" rel="stylesheet">
    <form method="POST">
        {% csrf_token %}
        
        <div class="section">
            <div class="container">
                <div class="row full-height justify-content-center">
                    <div class="col-12 text-center align-self-center py-5">
                        <div class="section pb-5 pt-5 pt-sm-2 text-center">
                            <h6 class="mb-0 pb-3"><span>Log In </span><span>Sign Up</span></h6>
                              <input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
                              <label for="reg-log"></label>
                            <div class="card-3d-wrap mx-auto">
                                <div class="card-3d-wrapper">
                                    <div class="card-front">
                                        <div class="center-wrap">
                                            <div class="section text-center">
                                                <h4 class="mb-4 pb-3">Log In</h4>
                                                <div class="form-group">
                                                    {% comment %} <input type="email" name="logemail" class="form-style" placeholder="Your Email" id="logemail" autocomplete="off"> {% endcomment %}
                                                    {% comment %} <input type="email" name="logemail" class="form-style" placeholder="Your Email" id="logemail" autocomplete="off"> {% endcomment %}

                                                    <i class="input-icon uil uil-at"></i>
                                                </div>	
                                                <div class="form-group mt-2">
                                                    {% comment %} <input type="password" name="logpass" class="form-style" placeholder="Your Password" id="logpass" autocomplete="off"> {% endcomment %}
                                                    <i class="input-icon uil uil-lock-alt"></i>
                                                </div>
                                                {{ form.as_p }}
                                                <button class="btn btn-outline-info" type="submit">Login</button>
                                            </form>
                                                <p class="mb-0 mt-4 text-center"><a href="#0" class="link">Forgot your password?</a></p>
                                              </div>
                                          </div>
                                      </div>
                                    
                                    <div class="card-back">
                                        <div class="center-wrap">
                                            <div class="section text-center">
                                                <h4 class="mb-4 pb-3">Sign Up</h4>
                                                <div class="form-group">
                                                    <input type="text" name="logname" class="form-style" placeholder="Your Full Name" id="logname" autocomplete="off">
                                                    <i class="input-icon uil uil-user"></i>
                                                </div>	
                                                <div class="form-group mt-2">
                                                    <input type="email" name="logemail" class="form-style" placeholder="Your Email" id="logemail" autocomplete="off">
                                                    <i class="input-icon uil uil-at"></i>
                                                </div>	
                                                <div class="form-group mt-2">
                                                    <input type="password" name="logpass" class="form-style" placeholder="Your Password" id="logpass" autocomplete="off">
                                                    <i class="input-icon uil uil-lock-alt"></i>
                                                </div>
                                                {% comment %} {{ form.as_p }} {% endcomment %}
                                                <a href="#" class="btn mt-4">submit</a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
            </div>
        </div>
        {% comment %} <h1>Log in</h1> {% endcomment %}
        
        {% comment %} <button class="btn btn-outline-info" type="submit">Login</button> {% endcomment %}

    {% comment %} </form> {% endcomment %}
    {% comment %} <div>
        Need an Account ?<a href="{% url 'register'%}">Register</a>
    </div> {% endcomment %}
{% endblock content %}
