{% comment %}
{% extends 'stream/base.html'%}
{% load static %}
{% block content%}
{% endcomment %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vnonymous</title>
    <link rel="stylesheet" href= "{%static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link href="{% static 'css/styleRegister.css' %}" rel="stylesheet">
  </head>
  <!--style in body change the website side/top/bottom background-->
  <body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="77" style="background-size: cover; background-image: url('{% static 'assets/img/register-background.jpg' %}');">
    <nav class="navbar navbar-expand-md fixed-top navbar-light" id="mainNav">
      <div class="container"><a class="navbar-brand" href=" {% url 'stream:home' %} " id="Home Button">
        Vnonymous
      </a><button data-bs-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-bs-target="#navbarResponsive" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" value="Menu"><i class="fa fa-bars"></i></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item nav-link"><a class="nav-link active" href=" {% url 'stream:video-list' %} " id="Video Button">Videos</a></li>
            <li class="nav-item nav-link"><a class="nav-link active" href=" {% url 'stream:contact' %} " id="Add Contacts Button">Add Contacts</a></li>
            {% if user.is_authenticated %}
              <li class="nav-item nav-link"><a class="nav-link active" href="{% url 'stream:video-create' %}" id="New Video Button">New Video</a>
              {% if user.is_superuser %}
                <li class="nav-item nav-link"><a class="nav-link active" href="{% url 'admin:index' %}" id="Admin Button">Admin</a>
              {% endif %}
              <li class="nav-item nav-link"><a class="nav-link active" href="{% url 'notifications' %}" id="Notification Button">Notifications</a></li>
              <li class="nav-item nav-link"><a class="nav-link active" href="{% url 'profile' %}" id="Profile Button">Profile</a>
              <li class="nav-item nav-link"><a class="nav-link active"  href='#'onclick='overlay()' id="Logout Button">Logout</a>
            {% else %}
              <li class="nav-item nav-link"><a class="nav-link active" href="{% url 'login' %}" id="Login Button">Login</a>
              <li class="nav-item nav-link"><a class="nav-link active" href="{% url 'register' %}" id="Register Button">Register</a>
            {% endif %}
        </ul>
    </div>
    </div>
    </nav>

    <!--style in section change the website background-->
    {% comment %} <section class="vh-100 bg-image" style="background-size: cover; background-image: url('{% static 'assets/img/register-background.jpg' %}'); margin-top: 73px;"> {% endcomment %}
      <!-- Gradient mask -->
      <section style="margin-top: 73px;">
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
              <div class="card" style="border-radius: 15px;">
                <div class="card-body p-5">
                  <h2 class="text-uppercase text-center mb-5">Create an account</h2>

                  <form method="POST">
                    {% csrf_token %}
                    {% comment %} {{form.as_p}} {% endcomment %}

                    {% comment %} <div class="form-outline mb-4">
                      <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example1cg">Your Name</label>
                    </div> {% endcomment %}
                    {{ form.username.errors }}
                    {{ form.username }}
                    <p id="intruction">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</p>

                    {% comment %} <div class="form-outline mb-4">
                      <input type="email" id="form3Example3cg" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example3cg">Your Email</label>
                    </div> {% endcomment %}
                    {{ form.email.errors }}
                    {{ form.email }}

                    {% comment %} <div class="form-outline mb-4">
                      <input type="password" id="form3Example4cg" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example4cg">Password</label>
                    </div> {% endcomment %}
                    {{ form.password1.errors }}
                    {{ form.password1 }}
                    <p id="intruction">Your password can’t be too similar to your other personal information.
                      <br>
                      Your password must contain at least 8 characters.
                      <br>
                      Your password can’t be a commonly used password.
                      <br>
                      Your password can’t be entirely numeric.</p>

                    {% comment %} <div class="form-outline mb-4">
                      <input type="password" id="form3Example4cdg" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example4cdg">Repeat your password</label>
                    </div> {% endcomment %}
                    {{ form.password2.errors }}
                    {{ form.password2 }}
                    {% comment %} <p id="intruction">Enter the same password as before, for verification.</p> {% endcomment %}

                    <div class="form-check d-flex justify-content-center mb-5">
                      <div class="checkbox">
                        <input class="form-check-input me-2 border-success" type="checkbox" value="" id="form2Example3cg" />
                      </div>
                      <label class="form-check-label" for="form2Example3g">
                        I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                      </label>
                    </div>

                    {% comment %}  onclick="register()" {% endcomment %}
                    <div class="d-flex justify-content-center">
                      {% comment %} btn btn-primary btn-block fa-lg mb-3 btn-outline-info {% endcomment %}
                      <button id="register" type="submit" class="btn btn-outline-info btn-success btn-block btn-lg gradient-custom-4 text-body" required>Register</button>
                    </div>

                    <p class="text-center text-muted mt-5 mb-0">Already have an account? <a href="{% url 'login' %}"
                        class="fw-bold text-body"><u>Login here</u></a></p>

                  </form>

                {% comment %} </div> {% endcomment %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% comment %} <script>
      function register() {
        // Alert that lets the user know registration was successful
        alert("Registration successful!");
        // Redirect to the login page after successful registration
        window.location.href = "{% url 'login' %}";
      }
    </script> {% endcomment %}

    {% comment %}
      <form method="POST">
          {% csrf_token %}
          <h1>Register</h1>
          {{ form.as_p }}
          <button class="btn btn-outline-info" type="submit">Sign Up</button>

      </form>
      <div>
          Already have an account <a href="{% url 'login' %}">Sign In</a>
      </div>
      </div>
    {% endblock content %}
    {% endcomment %}

    {% comment %} <script>
      function register() {
        // Get the values of all the form inputs
        var username = document.getElementById("id_username").value;
        var email = document.getElementById("id_email").value;
        var password1 = document.getElementById("id_password1").value;
        var password2 = document.getElementById("id_password2").value;

        // Check if any of the values are empty
        if (username === "" || email === "" || password1 === "" || password2 === "") {
          // Display an error message if any of the values are empty strings
          alert("Please enter all the required fields.");
        } else {
          // Display the success message and redirect to the login page
          alert("Registration successful!");
          window.location.href = "{% url 'login' %}";
        }
      }
    </script> {% endcomment %}

    <script src=" {% static 'assets/bootstrap/js/bootstrap.min.js' %} "></script>

    <!-- This js makes the header change to black colour when scrolling-->
    <script src=" {% static 'assets/js/grayscale.js' %} "></script>

  </body>
