aiohttp==3.8.6
aiosignal==1.3.1
anyio==4.0.0
appdirs==1.4.4
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.1.0
Babel==2.13.0
-e git+https://github.com/yihong0618/bilingual_book_maker.git@5a7cbca75f618225b81e1dc290744936880b9001#egg=bbook_maker
beautifulsoup4==4.12.2
Brotli==1.0.9
bs4==0.0.1
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.0
click==8.1.7
colorama==0.4.6
djangify==1.0.0
Django==4.2.5
django-bootstrap-v5==1.0.11
EbookLib==0.18
filelock==3.12.4
frozenlist==1.4.0
fsspec==2023.9.2
ghp-import==2.1.0
h11==0.14.0
httpcore==0.18.0
httpx==0.25.0
huggingface-hub==0.17.3
idna==3.4
importlib-metadata==6.8.0
Jinja2==3.1.2
langdetect==1.0.9
litellm==0.5.6
lxml==4.9.3
Markdown==3.5
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mdurl==0.1.2
mergedeep==1.3.4
mkdocs==1.5.3
mkdocs-material==9.4.4
mkdocs-material-extensions==1.2
multidict==6.0.4
mutagen==1.46.0
numpy==1.25.2
openai==0.28.1
outcome==1.3.0
packaging==23.2
paginate==0.5.6
pandas==2.0.3
pathspec==0.11.2
Pillow==10.0.1
platformdirs==3.11.0
pycparser==2.21
pycryptodomex==3.18.0
PyDeepLX==1.0.4
Pygments==2.16.1
pymdown-extensions==10.3
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
PyYAML==6.0.1
pyyaml_env_tag==0.1
regex==2023.10.3
requests==2.31.0
rich==13.6.0
selenium==4.14.0
six==1.16.0
sniffio==1.3.0
socksio==1.0.0
sortedcontainers==2.4.0
soupsieve==2.5
sqlparse==0.4.4
tiktoken==0.5.1
tokenizers==0.14.1
tqdm==4.66.1
trio==0.22.2
trio-websocket==0.11.1
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.6
watchdog==3.0.0
webdriver-manager==4.0.1
websockets==11.0.3
whitenoise==6.5.0
wsproto==1.2.0
yarl==1.9.2
zipp==3.17.0
