body {
    background: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    text-align: center;
<<<<<<< HEAD
<<<<<<< HEAD
}
=======
}

>>>>>>> b1400987ff47e8160c4e99af33700075ab0f0d90
=======
}

#page-top {
    color: green;
}
>>>>>>> 566bfd47f21eba2a422bcbd93025bbdeeb7a6aab
