{% extends 'stream/base.html'%}
{% block content %}
    <div class="center_journal" style="margin-top: 25px;">
        {% comment %} <h1>Search </h1> {% endcomment %}
    </div>
    {% if user.is_authenticated %}
    <div id="overlay" class="float-center" style="position:fixed; top:30%;">
        <div>
            <p class="text-dark">Are you sure to logout?</p>
            <button id="logout" class="float-left submit-button" >Logout</button>
            <button id="cancel" class="float-left submit-button">Cancel</button>
        </div>
    </div>
    {% endif %}
    <div style="padding-top: 150px;">
        {% comment %} <form method="POST"> {% endcomment %}
        <div class="input-group">
            <div class="input-group-prepend">
            </div>
            <input type="text" class="form-control" name="title">
            {% comment %} <button type="submit" class="btn btn-dark">Search</button> {% endcomment %}
            <a href="{% url 'stream:video-list' %}" class="btn btn-dark" id='search button'>Search</a>
        </div>
        {% comment %} </form> {% endcomment %}
    </div>
    {% comment %} <div>
        {% for item in videos%}
        <div class="card" style="width: 40rem; margin: 20px; box-shadow: 12em;">
            <img class="rounded-circle border-dark" src="{{ item.streamer.profile.image.url }}" style="border-color: red;" width="30" height="30">
            <a class="mr-2" href="{% url 'stream:user-videos' item.streamer.username %}" style="text-align: start;">{{ item.streamer }}</a>
            <h12 style="text-align: start;">{{ item.upload_date }}</h12>
            <video class="card-image-top" controls>
                <source src="{{ item.video.url }}" type="video/mp4">
            </video>
            <div class="card-body">
              <h5 class="card-title"><a href="{% url 'stream:video-detail' item.id  %}">{{ item.title }}</a></h5>
              <p class="card-text">{{item.description }}</p>
            </div>
            <hr>
          </div>
        {% endfor %}
    </div> {% endcomment %}
{% endblock content %}
