{% extends 'stream/base.html'%}
{% block content %}
{% for message in messages %}
<div>
    {{ message }}
</div>
{% endfor %}
    <div class="center_journal" style="margin-top: 25px;">
        {% comment %} <h1>Search </h1> {% endcomment %}
    </div>
    {% if user.is_authenticated %}
    <div id="overlay" class="float-center" style="position:fixed; top:30%;">
        <div>
            <p class="text-dark">Are you sure to logout?</p>
            <button id="logout" class="float-left submit-button" >Logout</button>
            <button id="cancel" class="float-left submit-button">Cancel</button>
        </div>
    </div>
    {% endif %}
    <div style="padding-top: 150px;">
        <form method="POST" action="{% url 'stream:contact' %}">
            {% csrf_token %}
            <div class="input-group">
                <div class="input-group-prepend">
                </div>
                <input type="text" class="form-control" name="contact_name" placeholder="Enter name to add as contact">
                {{ addcontactform.reciever.error }}
                {{ addcontactform.reciever }}
                <a href=" {% url 'stream:video-list' %}" class="btn btn-dark" id="search button">Add Contact</a>
                {% comment %} <button class="btn btn-dark" id="search button" type="submit">Add Contact</button> {% endcomment %}
                {% comment %} <button type="submit" class="btn btn-dark" id="search button">Add Contact</button> {% endcomment %}
            </div>
        </form>
    </div>

{% endblock content %}
