{% extends 'stream/base.html'%}
{% block content %}
    <div style = "margin-top: 25px; padding-top: 75px;">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h1>Record a video</h1>
            <div class="button-group">
                <button class="btn btn-outline-info" type="button">Start/Rerecord</button>
                <button class="btn btn-outline-info" type="button">Stop Recording</button>
                <button class="btn btn-outline-info" type="button">Next</button>
            </div>

        </form>
    </div>
{% endblock content %}
