
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href= "{%static 'assets/bootstrap/css/bootstrap.min.css' %}">
      <title>Vnonymous</title>
      {% comment %} <link href="{% static 'css/styleProfile.css' %}" rel="stylesheet"> {% endcomment %}
      <link href="{% static 'css/logoutUI.css' %}" rel="stylesheet">
      <link href="{% static 'css/ChangePasswordUI.css' %}" rel="stylesheet">
      <link href="{% static 'css/styleSetting.css' %}" rel="stylesheet">
      {% comment %} <link href="{% static 'css/styleVideo.css' %}" rel="stylesheet"> {% endcomment %}
      <link href="{% static 'css/styleTopBar.css' %}" rel="stylesheet">
    </head>

    <body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="77" style="background-size: cover; background-image: url(' {% static 'assets/img/intro-bg.jpg' %} ');">
        <nav class="navbar navbar-expand-md fixed-top navbar-light" id="mainNav">
            <div class="container"><a class="navbar-brand" href=" {% url 'stream:home' %} " id="Home Button">
                Vnonymous
              </a><button data-bs-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-bs-target="#navbarResponsive" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" value="Menu"><i class="fa fa-bars"></i></button>
                <div class="navbar" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        {% if user.is_authenticated %}
                        <div class="dropdown">
                            <li class="nav-item nav-link">
                                <button class="nav-link active">
                                    <a id="Videos Hover">
                                        VIDEOS &#9660;
                                    </a>
                                </button>
                            </li>
                            <div class="dropdown-content">
                                <li class="nav-item nav-link"><a class="nav-link active" href=" {% url 'stream:video-list' %} " id="Video Button">Videos</a></li>
                                <li class="nav-item nav-link"><a class="nav-link active" href="{% url 'stream:video-create' %}" id="New Video Button">New Video</a>
                                <li class="nav-item nav-link"><a class="nav-link active" href="{% url 'stream:request-video' %}" id="Video Request Button">Video Request</a>
                            </div>
                          </div>
                          <li class="nav-item nav-link"><a class="nav-link active" href=" {% url 'stream:contact' %} " id="Add Contacts Button">Add Contacts</a></li>
                          <li class="nav-item nav-link"><a class="nav-link active" href="{% url 'stream:notifications' %}" id="Notification Button">Notifications</a></li>
                          <div class="dropdown">
                            <li class="nav-item nav-link">
                            <button class="nav-link active">
                                <a id="User Hover">
                                    <img class="rounded-circle border-dark" src="{{ user.profile.image.url }}" style="border-color: red;" width="25" height="25">
                                &#9660;
                                </a>
                            </button>
                            </li>
                            <div class="dropdown-content">
                                <li class="nav-item nav-link"><a class="nav-link active" href="{% url 'stream:profile' %}" id="Profile Button">Profile</a>
                                <li class="nav-item nav-link"><a class="nav-link active" href="{% url 'stream:setting' %}" id="Setting Button">Setting</a>
                                {% if user.is_superuser %}
                                    <li class="nav-item nav-link"><a class="nav-link active" href="{% url 'admin:index' %}" id="Admin Button">Admin</a>
                                {% endif %}
                                <li class="nav-item nav-link"><a class="nav-link active"  href='#'onclick='overlay()' id="Logout Button">Logout</a>
                            </div>
                          </div>
                        {% else %}
                            <li class="nav-item nav-link"><a class="nav-link active" href="{% url 'stream:login' %}" id="Login Button">Login</a></li>
                            <li class="nav-item nav-link"><a class="nav-link active" href="{% url 'stream:register' %}" id="Register Button">Register</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

    {% comment %} <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel=stylesheet href="styleSetting.css"> {% endcomment %}

    <div style="margin-top: 25px; padding-top: 50px;">

    <title>Settings Page</title><div class="container-fluid main" style="height:100vh;padding-left:0px;">

    <div class="d-block d-md-none menu">

        <div class="bar"></div>

    </div>

    <div class="row align-items-center" style="height:100%">

    <div class="col-md-3 d-none d-md-block" style="height:100%" >

        {% comment %} <div class="container-fluid nav sidebar flex-column"> {% endcomment %}
{% comment %}
            <a href="{% url 'stream:setting' %}" class="nav-link active mt-auto"><i class="far fa-user-circle"></i> Change Password</a>
            <a href="{% url 'stream:theme' %}" class="nav-link mb-auto" id="Background Button"><i class="fas fa-cogs"></i> Background</a> {% endcomment %}

        {% comment %} </div> {% endcomment %}

    </div>

    <div id="overlay" class="float-center "style="position:fixed;top:30%;">
        <div>
            <p class="text-dark">Are you sure to logout?</p>
            <button id="logout" class="float-left submit-button" >Logout</button>
            <button id="cancel" class="float-left submit-button">Cancel</button>
       </div>
    </div>

    {% comment %} <div id="overlay" class="float-center "style="position:fixed;top:30%;">
        <div>
            <p class="text-dark">Are you sure you want to change your password?</p>
            <button id="Update" class="float-left submit-button" >Update</button>
            <button id="Cancel" class="float-left submit-button">Cancel</button>
       </div>
    </div> {% endcomment %}

    <div class="col-md-6">

        <div class="container content clear-fix">

        <h1 class="mt-5 mb-5">Settings</h1>

        <div class="row" style="height:70%">

            {% comment %} <div class="col-md-3">

                <div href=# class="d-inline"><img src="https://image.flaticon.com/icons/svg/236/236831.svg" width=130px style="margin:0;"><br><p class="pl-2 mt-2"><a href="#" class="btn" style="color:#8f9096;font-weight:600">Edit Picture</a></p></div>


            </div> {% endcomment %}

            <div class="container">
                <div class="row">
                    <div class="col-md-10 mx-auto">
                        <div class="card">
                            <div class="row d-flex justify-content-center align-items-center h-100">
                                <div class="col-lg-12" style="padding-top: 50px;">
                                    <h1 class="text-center">Change Password</h1>
                                    <div style="width: 75%; margin: auto;">
                                        <form method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <p class="text-center" id="instruction">Your password can’t be too similar to your other personal information.
                                                <br>
                                                Your password must contain at least 8 characters.
                                                <br>
                                                Your password can’t be a commonly used password.
                                                <br>
                                                Your password can’t be entirely numeric.
                                                <br>The new password must contain at least one letter and at least one digit or punctuation character.</p>
                                            <div class = "form-center" id= "oldpassword" style= "margin: auto;"
                                                <div class="form-group">
                                                {{ passwordform.oldpassword.errors }}
                                                {{ passwordform.oldpassword }}
                                            </div>
                                            <div class="form-group" id = "newpassword">
                                                {{ passwordform.password.errors }}
                                                {{ passwordform.password }}
                                            </div>
                                            <div class="form-group" id = "confirmpassword">
                                                {{ passwordform.password2.errors }}
                                                {{ passwordform.password2 }}
                                            </div>
                                            <!-- Uncomment the following lines if you want to include Confirm Password field -->
                                            {% comment %}
                                            <div class="form-group">
                                                <label for="id_new_password2">Confirm Password</label>
                                                <input type="password" class="form-control" id="id_new_password2" name="new_password2">
                                                {{ passwordform.new_password2.errors }}
                                                {{ passwordform.new_password2 }}
                                            </div>
                                            {% endcomment %}
                                            <div class="row mt-4" style="padding-left:110px; padding-top:25px;">
                                                <div class="col">
                                                    <button type="button" href="{% url 'stream:setting' %}" id= "Save" class="btn btn-primary btn-block submit-button" onclick='Password_Overlay()'>
                                                        {% comment %} <a  onclick='Password_Overlay()'> {% endcomment %}
                                                            Save Changes
                                                        {% comment %} </a> {% endcomment %}
                                                    </button>
                                                </div>
                                                <div class="col">
                                                    <button type="reset" id = "Reset" class="btn btn-default btn-block">Reset</button>
                                                </div>
                                            </div>
                                        </div>
                                            <div id="overlay1" class="float-center"style="position:fixed; top:30%;">
                                                <div style="">
                                                    <p class="text-dark">Are you sure you want to change your password?</p>
                                                    <button type = "submit" id="Update" class="float-left btn btn-primary btn-block me-4" onclick="Password_Overlay()">Update</button>
                                                    <button type="button" id = "Cancel" class="float-left btn btn-default btn-block" onclick="Password_Overlay()">Cancel</button>
                                                    {% comment %} <a href="{% url 'stream:setting' %}" id="Cancel" class="float-left btn btn-default btn-block">Cancel</a> {% endcomment %}
                                               </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{% comment %} {% endblock content %} {% endcomment %}



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

        <!-- This js ask user before logout  -->
        <script src=" {% static 'assets/js/logout.js'%} "></script>

        <!-- Logout popup UI -->
        <script src=" {% static 'assets/js/logoutUI.js'%} "></script>
        <script>
            document.getElementById("logout").onclick = function () {
                location.href = "{% url 'stream:logout' %}";
            };
            document.getElementById("cancel").onclick = function () {
                location.href = "{% url 'stream:setting' %}";
            };
        </script>

         {% comment %} <!-- This js ask user before user change the password  -->
         <script src=" {% static 'assets/js/logout.js'%} "></script> {% endcomment %}

         <!-- ChangePassword popup UI -->
         <script src=" {% static 'assets/js/ChangePasswordUI.js'%} "></script>
         <script>
            {% comment %} document.getElementById("Update").onclick = function () {
                 location.href = "{% url 'stream:login' %}";
             }; {% endcomment %}
             document.getElementById("Cancel").onclick = function () {
                 location.href = "{% url 'stream:setting' %}";
             };
         </script>
