{% extends 'stream/base.html' %}
{% block content %}
    {% if user.is_authenticated %}
    <div id="overlay" class="float-center" style="position:fixed; top:30%;">
        <div>
            <p class="text-dark">Are you sure to logout?</p>
            <button id="logout" class="float-left submit-button" >Logout</button>
            <button id="cancel" class="float-left submit-button">Cancel</button>
        </div>
    </div>
    {% endif %}
    <div>
        <img class="rounded-circle border-dark" src="{{ post.author.profile.image.url }}">
        <h12>{{ post.author.username }}</h12>
    </div>
    <div>
        <h1>{{ post.title }}</h1>
        <h12>The video was uploaded on {{ post.upload_date }}</h12>
        <p>{{ post.description}}</p>
        {% if post.author == user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'stream:video-update' post.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'stream:video-delete' post.id %}">Delete</a>
            </div>
        {% endif %}
        <video controls>
            <source src="{{ post.video.url }}" type="video/mp4">
        </video>

    </div>
{% endblock content %}