{% extends 'stream/base.html' %}
{% block content %}
    {% if user.is_authenticated %}
    <div id="overlay" class="float-center" style="position:fixed; top:30%;">
        <div>
            <p class="text-dark">Are you sure to logout?</p>
            <button id="logout" class="float-left submit-button" >Logout</button>
            <button id="cancel" class="float-left submit-button">Cancel</button>
        </div>
    </div>
    {% endif %}
    <div>
        <img class="rounded-circle border-dark" src="{{ 'https://d18u3jaflgrcvn.cloudfront.net/media/'|add:object.streamer.profile.image.url|cut:'https://elasticbeanstalk-ca-central-1-841071745826.s3.amazonaws.com/' }}" width='50' height='50'>
        <h8 style="font-size:30px">{{ object.streamer.username }}</h12>
    </div>
    <div>
        <h1 style="font-size:100px">{{ object.title }}</h1>
        <h12 style="font-size:20px">The video was uploaded on {{ object.upload_date }}</h12>
        <p style="font-size:20px">{{ object.description}}</p>
        {% if object.streamer == user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'stream:video-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'stream:video-delete' object.id %}">Delete</a>
            </div>
        {% endif %}
        <video controls>
            <source src="{{ object.video.url }}" type="video/mp4">
        </video>

    </div>
</div>
{% endblock content %}
